* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    background-color: #0c1022;
    font-family: 'Poppins', sans-serif;
    color:#fff;
    /* width: 100%; */
    overflow: hidden;
    /* transition: all .4s ease-in-out; */
 }

.header{
    width: 100%;
    padding: 20px 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#pic-logo{
    width: 100px;
    height: 100px;
 }

nav{
    display: flex;
    flex-direction: row;
    gap: 60px; 
    font-size: 25px;
    margin-right: 20px;
    color: white;
    text-shadow: 
    0 0 20px #ff9900,
    0 0 30px #ff6600,
    0 0 40px #ff3300,
    0 0 50px #ff0000;

    opacity: 0;
    animation: logoTop 1s ease forwards;
 }

 nav span:hover{
    color: white;
    text-shadow: 
    0 0 20px #9aede1,
    0 0 30px #4bc3e8,
    0 0 40px #116ec0,
    0 0 50px #0a2f9f;
 }
 h1{
    color: white;
    text-shadow: 
    0 0 20px #ff9900,
    0 0 30px #ff6600,
    0 0 40px #ff3300,
    0 0 50px #ff0000;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 30px;

    opacity: 0;
    animation: slideh1 1s ease forwards;
    animation-delay: 1s;
  }
  .container{
    width: 100%;  
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, 1fr));
    align-items: center;
    padding: 40px 10% ;
    justify-content:center;
 }
 .home-content{
    max-width: 500px;
    margin-left: -30px;
 }
  h2{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;

    color:#ff9900;
    animation-name: blink;
    animation-duration: 0.25s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
 }
 @keyframes blink{
    from{
        color:#ff9900;
}to{
    color: #ff0000;
}
 }
h3{
    font-size: 80px;
    margin-top: 30px;
    color:#ff9900;
    animation-name:blink;
    animation-duration: 0.25s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

 p{
    font-size: 20px;
    margin: 20px 0 40px;
    text-align: justify;
    line-height: 25px;
      /* animation */
      opacity: 0; 
      animation: slidep 1s ease forwards;
      animation-delay: 2s; 
 }
 .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    border-radius: 40px;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px;
   z-index: 1;
 }
 .btn::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg,   #ff3300, #ff9900, #ff3300);
    background-size: 200%;  
    background-position: 0 0;
    z-index: -1;
    border-radius: 40px;
  filter: blur(5px); 
  transition: .5s ease ;
 }
 .btn:hover::before{
    background-position: 100% 0;
 }
 .btn::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg,   #ff3300, #ff9900, #ff3300);
    background-position: 0 0;
    border-radius: 40px;
   z-index: -1;
   border-radius: 40px;
   background-size: 200%;
   transition: .5s ease;
 }
 .btn:hover::after{
    background-position: 100% 0;
 }

 /* right side */

  /* .img-home{
    width: 300px;
    height: 300px;
    margin: auto;
     } */
     .box{
        width: 300px;
        margin: 0 auto;
        position: relative;
    }
    .box .pic-box{
        position: relative;
        transition: all 0.5s;
        transform-origin: 95% 50% 0;
        z-index: 1;
    }
    .box .pic-box:after{
        content: "";
        position: absolute;
        top: 50%;
        left: 95%;
        width: 8px;
        height: 8px;
        background: #fff;
        border-radius: 50%;
    }
    .box .pic-box img{
        border-radius: 50%;
    }
    .box:hover .pic-box{
        transform: rotate(-140deg);
       
    }
    .box .content{
        text-align: center;
        color: #fff;
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg,   #ff3300, #ff9900, #ff3300);
        border-radius: 50%;
        top: 0;
        left: 0;
        padding: 70px 20px;
        box-sizing: border-box;
    }
    /* end hero page */
  
      
    /* animation hero page */
    @keyframes logoTop{
        0%{
            opacity: 0; 
            transform: translateY(100px);
        }
        100%{
            opacity: 1;
            transform: translateY(0px);
        }
     }
    @keyframes slideh1{
        0%{
            opacity: 0;
            transform: translateX(-100px);
        }
        100%{
            opacity: 1;
            transform: translateX(0);
        }
     }
     @keyframes slidep{
        0%{
            opacity: 0;
            transform: translateY(100px);
        }
        50%{
            opacity: 0.5;
            transform: translateY(50);
        }
        100%{
            opacity: 1;
            transform: translateY(0);
        }
     }

     /* responsive hero page*/
     @media (max-width: 768px) {
        
.header{
   margin-top: 20px;
    padding: 0px 0%;
    flex-direction: column;
}
nav{
    flex-direction:column;
    gap: 20px; 
    margin:auto;
}
h1{
    font-size: 46px;
  margin-left: 30px;
}
.container{   
    grid-template-columns: repeat(1, minmax(50%, 1fr));
    /* align-items: center; */
    padding: 40px 10% ;
 }
 .home-content{
    max-width: 100%;
    margin-left: 10px;
 }
 .btn{
    margin:auto;
 }
 .box{
        width: 300px;
        margin: 40px auto;
    }
     } 